.fashionswiper {
    width: 100%;
    max-width: 1000px;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .banner-slide-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }
  